# Core web framework
fastapi==0.115.5
fastapi-cli
uvicorn==0.32.0
python-dotenv==1.0.1
jinja2

# Database and Data Handling
duckdb==1.2.2
pandas==2.2.3
numpy==1.26.4
scipy==1.14.1

# AI and Machine Learning
opencv-contrib-python==4.10.0.84
mediapipe
langchain==0.3.25
langchain-google-genai

# Code Quality and Testing
pylint==3.3.6
pytest==8.3.4